.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f6f3f3;
    color: #1b1a1a;
  }
  
  .Navbar h1 {
    margin: 0;
    font-size: 24px;
  }
  
  .Navbar select {
    padding: 8px;
    border: none;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
  }
  
  .Navbar_Profile {
    display: flex;
    align-items: center;
  }
  
  .Navbar_Profile i {
    margin-right: 5px;
  }
  
  .Navbar button {
    margin-left: 10px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .Navbar button:hover {
    background-color: #0056b3;
  }
  
  .Navbar button:last-child {
    margin-left: 0;
  }
  